.robot-section {
  background-image: url('../images/robot.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  display: none;
  height: 60px;
  padding: 2px;
  transition: 0.65s linear;
  text-align: center;
  width: 60px;
}
