.table-box-section {
  display: table;
  position: absolute;
  width: 100%;
  .table-item {
    display: flex;
    justify-content: center;
  }

  .coordinate-section.-inline {
    display: flex;
  }

  .coordinate-section.coordinate-section.-block {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .coordinate-section .coordinate-label {
    display: inline-block;
    width: 100px;
    text-align: center;
  }

  .coordinate-section.-block .coordinate-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 5px;
  }
}
