.table-box-section {
  display: table;
  position: absolute;

  .table-item {
    display: flex;
  }

  .coordinate-section.-inline {
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
  }

  .coordinate-section.coordinate-section.-block {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .coordinate-section .coordinate-label {
    display: inline-block;
    width: 100px;
    text-align: center;
    margin-right: 18px;
  }

  .coordinate-section.-block .coordinate-label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 5px;
    height: 100px;
  }
}
