._spacer {
  margin-bottom: 10px;
}

._spacer-sm {
  margin-bottom: 20px;
}

._spacer-md {
  margin-bottom: 40px;
}

._spacer-lg {
  margin-bottom: 70px;
}

._text-center {
  text-align: center;
}

._text-gamma {
  color: $gamma;
}
