$white: #ffffff;
$black: #000000;

$alpha: #36ff80;
$beta: #0080f6;
$betaLight: #9dd0ff;
$betaDark: #004f98;

$gamma: #0099f5;

$psi: #de473c;

$primary: #c57d95;
$primaryDarker: #c57d95;
$primaryDark: #ca899e;
$primaryLight: #e4c3ce;
$primaryLighter: #efdbe1;

$secondary: #be7cff;
$secondaryDarker: #9c38ff;
$secondaryDark: #ad5aff;
$secondaryLight: #cf9eff;
$secondaryLighter: #e0c0ff;
